.body {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    padding: 2em;
    background-color: var(--background-light)
}

.card-title {
    font-weight: bold;
    font-size: 2rem;
    color: var(--text);
    position: relative;
    user-select: none;
}